$white: #ffffff;

$gray-20: #f3f3f3;
$gray-70: #bbbbbb;
$gray-100: #888888;
$gray-150: #555555;
$gray-transparent: #55555550;

$red: #f9d2d2;
$orange: #f9e4cc;
$yellow: #f9f3c0;
$green: #d0f6cc;
$cyan: #d0f9f1;
$blue: #cee4f9;
$purple: #e1d6f9;
$pink: #f9d5f1;

$red-text: #694343;
$orange-text: #615140;
$yellow-text: #5c593f;
$green-text: #436140;
$cyan-text: #3e5b56;
$blue-text: #405568;
$purple-text: #50436c;
$pink-text: #6b4463;
