.switcher {
    background: $gray-20;
    padding: 4px;
    border-radius: 12px;
    display: flex;
    height: 36px;

    &__button {
        background: transparent;
        border: 0;
        margin: 0;
        padding: 4px 12px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &.active {
            background: $white;
        }
    }
}
